p {
	font: 20px "Fauna One", sans-serif;
	font-size: 16px;
}

div {
	vertical-align: middle
}


h1 {
	font: 200px "Crete Round", serif;
	text-align: center;

}

h2 {
    font: 30px "Slabo 27px", serif;
    text-align: center;
    /*background-color: red;*/
}

.frame {
    white-space: nowrap;
}

.inbl {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

.content {
	padding-top: 135px;
}

.proj {
    padding: 30px;
    /*background: gray;*/
    border-radius: 20px;
    /*float:left;
    width: 30%;*/
}


/*Change icon colors.*/
/*.fa {
  color: black;
}*/

/*Justify navbar-nav to span full width of navbar. */
@media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
    }
}